@mixin for-mobile {
    @media (max-width: 768px) {
        @content;
    }
}

.widgets-sm {
    flex: 1;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-right: 20px;

    @include for-mobile {
        margin-top: 10px;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;

            .user-details {
                display: flex;
                align-items: center;

                .image {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 50px; // You can adjust this as needed
                }

                .user {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .job-title {
                        font-weight: 300;
                    }
                }
            }

            .btn {
                display: flex;
                align-items: center;
                border: none;
                border-radius: 50%;
                padding: 6px 6px;
                background-color: #e9ecef;
                color: #495057;
                cursor: pointer;

                .icon {
                    font-size: 18px !important;
                }
            }
        }
    }
}